* {
margin: 0;
padding: 0;
}
form-style {
display: flex;
flex-direction: column;
justify-content: center;

}

 .webb{
    background-color: yellow;
    
}


body {
background-color: #181818;
}

h1 {
    text-align: center;
    background-color: #252627;
    padding: 20px ;
    margin-bottom: 30px;



}

.form-style {
    font: 95% Segoe UI,Arial,sans-serif;;


}

.form-style form {

  text-align: center;

}

.form-style input[type=text] {
    margin: 2px;
    background-color: #e7e7e7;
    border-color: #ddd;
    width: 10%;
    height: 2em;

}
.form-style input[type=radio] {
    display:none;
    margin:10px;


}


.form-style input[type=radio] + label {
    border-radius: 10px;
    display:inline-block;
    margin: 3px;
    padding: 10px 10px;
    background-color: grey;
    border-color: #ddd;
    width: 5%;
    height: 2em;
}

.site-bar input[type=radio] + label {
    border-radius: 10px;
    display:inline-block;
    margin: 2px;
    padding: 20px 20px;
    background-color: grey;
    border-color: #ddd;
    width: 10%;
    height: 2em;

}
/*
 Change background color for label next to checked radio button
 to make it look like highlighted button
*/
.form-style input[type=radio]:checked + label {
   background-image: none;
    background-color:#1DB954;
    color: white

}

.form-style input[type=radio]:hover + label {
   border: 1px solid white;
   background-color:#1DB954;
   color: white

}