<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <meta charset="UTF-8">

    <title>Title</title>
</head>
<body>

<div class="form-style">
    <form action="." method="post">
        <div>
            <input type="radio" id="web1" name="website" value="courtside">
            <label for="web1">Courtside Sneakers</label>
            <input type="radio" id="web2" name="website" value="footlocker">
            <label for="web2">Footlocker Canada</label>
            <input type="radio" id="web3" name="website" value="nike">
            <label for="web3">Nike Canada</label>
        </div>
        <div>
            <label for="weblink"></label><br>
            <input type="text" id="weblink" name="weblink" value ="" placeholder="Web Link"><br>
        </div>
        <div>

            <input type="radio" id="sz1" name="size" value="7">
            <label for="sz1">US 7</label>
            <input type="radio" id="sz2" name="size" value="7.5">
            <label for="sz2">US 7.5</label>
            <input type="radio" id="sz3" name="size" value="8">
            <label for="sz3">US 8</label>
            <br>
            <input type="radio" id="sz4" name="size" value="8.5">
            <label for="sz4">US 8.5</label>
            <input type="radio" id="sz5" name="size" value="9">
            <label for="sz5">US 9</label>
            <input type="radio" id="sz6" name="size" value="9.5">
            <label for="sz6">US 9.5</label>
            <br>
            <input type="radio" id="sz7" name="size" value="10">
            <label for="sz7">US 10</label>
            <input type="radio" id="sz8" name="size" value="10.5">
            <label for="sz8">US 10.5</label>
            <input type="radio" id="sz9" name="size" value="11">
            <label for="sz9">US 11</label>
            <br>
            <input type="radio" id="sz10" name="size" value="11.5">
            <label for="sz10">US 11.5</label>
            <input type="radio" id="sz11" name="size" value="12">
            <label for="sz11">US 12</label>
            <input type="radio" id="sz12" name="size" value="12.5">
            <label for="sz12">US 12.5</label>
            <br>

            <input type="radio" id="sz13" name="size" value="13">
            <label for="sz13">US 13</label>
            <input type="radio" id="sz14" name="size" value="13.5">
            <label for="sz14">US 13.5</label>
            <input type="radio" id="sz15" name="size" value="14">
            <label for="sz15">US 14</label>
        </div>

        <input type="submit">
    </form>
</div>
</body>
</html>